/* {}   */

.parent {
    display: grid;
    grid-template-columns: 80% 20% ;
    grid-template-rows:100px 400px 600px 200px;
     grid-gap: 20px;
     padding: 20px;
 
     
 
 }


 .body__header {
     background-color: brown;
     grid-column: 1/3;
     grid-row: 1/2;

    
 }

 .body__banner {
     background-color: cornflowerblue;
     grid-column: 1/3;
     grid-row: 2/3;

 }

 .body__content1 {
     background-color: darkblue;
     grid-column: 1/2;
     grid-row: 3/4;
 }

 .body__content2 {
     background-color: darkorange;
     grid-column: 2/3;
     grid-row: 3/4;
 }

 .body__footer {
     background-color: darkviolet;
     grid-column: 1/3;
     grid-row: 4/5;
 }